.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr1);
  border-block-end: var(--clr2) 1px solid;
  margin-block-end: 30px;
  position: relative;
}

.main-header .logo {
  flex-grow: 10;
  cursor: pointer;
}

.main-header .logo img {
  height: 2rem;
}

.main-header .main-nav {
  flex-grow: 1;
  /* display: none; */
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--brandclr);
  margin: 0;
  z-index: 10;
  height: 100vh;
  width: 65%;
  transform: translateX(100%);
  /* display: none; */
  transition: 0.4s;
}

.menu-open .main-header .main-nav {
  transform: translateX(0);
  /* display: initial; */
}

@media (min-width: 600px) {
  .main-header .main-nav {
    /* display: initial; */
    position: static;
    margin-left: 2em;
    margin-right: 2em;
    background-color: unset;
    z-index: unset;
    height: unset;
    width: unset;
    transform: translateX(0);
  }
}

.main-header .main-nav ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 600px) {
  .main-header .main-nav ul {
    flex-direction: row;
  }
}

.main-header .main-nav ul li {
  flex-grow: 1;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

@media (min-width: 600px) {
  .main-header .main-nav ul li {
    flex-grow: unset;
    text-align: initial;
    font-size: initial;
  }
}

.main-header .main-nav ul li a {
  text-decoration: none;
  color: var(--clr1);
  cursor: pointer;
  flex-grow: 1;
}

@media (min-width: 600px) {
  .main-header .main-nav ul li a {
    color: var(--clr2);
  }
}

.main-header .main-nav ul li a:hover {
  color: var(--brandclr);
}

.main-header .hamburger {
  background: none;
  border: none;
  color: var(--clr2);
  font-size: 3rem;
}

.main-header .hamburger::before {
  font-family: fa;
  content: '\f0c9';
}

@media (min-width: 600px) {
  .main-header .hamburger {
    display: none;
  }
}
