.meme-editor {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 880px) {
  .meme-editor {
    flex-direction: row;
  }
}

.meme-editor .canvas-container {
  flex-grow: 5;
  position: relative;
  justify-content: center;
  margin: 2em;
}

.meme-editor .canvas-container #canvas {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.meme-editor .editor-tools {
  margin-block-start: -30px;
  flex-grow: 1;
  align-self: stretch;
  background-color: var(--clr1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  gap: 2em;
}

.meme-editor .editor-tools input {
  border: none;
  border-bottom: var(--clr2) 2px solid;
  font-size: 2em;
  padding: 0.5em;
}

.meme-editor .editor-tools input:focus-visible {
  outline: none;
}

.meme-editor .editor-tools > *:not(:first-child) {
  flex-grow: 1;
}

.meme-editor .editor-tools .text-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
}

.meme-editor .editor-tools > * {
  border-block-end: 1px var(--clr2) solid;
}

.meme-editor .editor-tools .text-tools > * {
  flex-grow: 1;
  font-size: 2rem;
  color: var(--clr2);
  border: none;
  background: none;
  cursor: pointer;
}

.meme-editor .editor-tools .text-tools .delete-btn::before {
  font-family: fa;
  content: '\f2ed';
}

.meme-editor .editor-tools .text-tools > *:hover {
  color: var(--brandclr);
}

.meme-editor .editor-tools .text-editor {
  display: grid;
  background-color: var(--clr1);
  grid-template-areas:
    'item-1 item-2 item-3 item-4 item-5'
    'item-6 item-6 item-6 item-7 item-8';
  gap: 1em;
}

.meme-editor .editor-tools .text-editor > * {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--clr2);
  cursor: pointer;
}

.meme-editor .editor-tools .text-editor select {
  text-align: center;
  border: 1px var(--clr2) solid;
  border-radius: 6em;
}

.meme-editor .editor-tools .text-editor > *:hover {
  color: var(--brandclr);
}

.meme-editor .editor-tools .text-editor .item-1 {
  grid-area: item-1;
}
.meme-editor .editor-tools .text-editor .item-2 {
  grid-area: item-2;
}

.meme-editor .editor-tools .text-editor .item-3 {
  grid-area: item-3;
}

.meme-editor .editor-tools .text-editor .item-3::before {
  font-family: fa;
  content: '\f036';
}

.meme-editor .editor-tools .text-editor .item-4 {
  grid-area: item-4;
}

.meme-editor .editor-tools .text-editor .item-4::before {
  font-family: fa;
  content: '\f037';
}

.meme-editor .editor-tools .text-editor .item-5 {
  grid-area: item-5;
}

.meme-editor .editor-tools .text-editor .item-5::before {
  font-family: fa;
  content: '\f038';
}

.meme-editor .editor-tools .text-editor .item-6 {
  grid-area: item-6;
}

.meme-editor .editor-tools .text-editor .item-7 {
  grid-area: item-7;
}

.meme-editor .editor-tools .text-editor .item-7::before {
  font-family: fa;
  content: '\53';
}

.meme-editor .editor-tools .text-editor .item-8 {
  grid-area: item-8;
}

.meme-editor .editor-tools .text-editor .item-8::before {
  font-family: fa;
  content: '\f576';
}

.meme-editor .editor-tools .sticker-selector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr1);
}

.meme-editor .editor-tools .sticker-selector > * {
  cursor: pointer;
  width: 100px;
  border-radius: 50%;
}

.meme-editor .editor-tools .sticker-selector > *:hover {
  background-color: var(--brandclr);
}

.meme-editor .editor-tools .share-download-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.meme-editor .editor-tools .share-download-btns > * {
  flex-grow: 1;
  font-size: 2em;
  background: none;
  border: none;
  color: var(--clr2);
  cursor: pointer;
  text-decoration: none;
}

.meme-editor .editor-tools .share-download-btns > *:hover {
  color: var(--brandclr);
}
