.meme-gallery {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 1em;
}

.meme-gallery > * {
  width: 150px;
  border-radius: 1em;
  cursor: pointer;
  background-color: var(--clr2);
}

.meme-gallery > .file-input {
  display: none;
}

.meme-gallery > label {
  display: flex;
  color: var(--clr1);
  justify-content: center;
  align-items: center;
  font-size: 6em;
}

.meme-gallery > *:hover {
  outline: 3px var(--brandclr) solid;
}
