.tag-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2rem;
}

.tag-menu input {
  flex-grow: 2;
  padding: 0.6875em;
  border-radius: 6em;
  border: 1px solid var(--clr2);
}

.tag-menu ul {
  display: none;
  margin: 0;
  flex-grow: 1;

  list-style: none;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
}

@media (min-width: 600px) {
  .tag-menu ul {
    display: grid;
  }
}

.tag-menu ul li button {
  background: none;
  border: none;
  color: var(--clr2);
  font-size: 1.2rem;
  text-align: left;
  text-transform: capitalize;
  cursor: pointer;
}

.tag-menu ul li:last-child button {
  color: var(--clr3);
}

.tag-menu ul li button:hover {
  color: var(--brandclr);
}
