.tag-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2rem;
}

.tag-menu input {
  flex-grow: 2;
}

.tag-menu ul {
  flex-grow: 1;
  display: grid;
  list-style: none;
  /* grid-template-columns: 1fr 300px; */
  grid-template-columns: repeat(auto-fit, 75px);
  grid-template-rows: 3;
  /* overflow-x: scroll; */

  /* display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  flex-grow: 2; */
}
